h1 {
    font-family: 'Merriweather', serif;
    font-size: 80px;
    text-shadow: 2px 2px rgb(247, 244, 230);
}

.jumbotron {
    border: 5px solid rgb(87, 167, 252);
    background-color: rgb(191, 212, 219);
}

.mgr {
    background-color: rgb(60, 153, 220);
    font-family: 'Merriweather', serif;
}

.card {
    margin: 2.5%;
}

.eng {
    background-color: rgb(102, 211, 250);
    font-family: 'Merriweather', serif;
}

.intrn {
    background-color: rgb(213, 243, 254);
    font-family: 'Merriweather', serif;
}

body {
    background-color: rgb(247, 244, 230);
}