h1 {
    font-family: 'Merriweather', serif;
    font-size: 80px;
    text-shadow: 2px 2px rgb(247, 244, 230);
}

.jumbotron {
    background-color: black;
    color: rgb(120, 162, 204);
    opacity: 80%;
}

.mgr {
    background-color: rgb(60, 153, 220);
    font-family: 'Merriweather', serif;
    border: 2px solid black;
}

.card {
    margin: 2.5%;
}

.eng {
    background-color: rgb(102, 211, 250);
    font-family: 'Merriweather', serif;
    border: 2px solid black;
}

.intrn {
    background-color: rgb(213, 243, 254);
    font-family: 'Merriweather', serif;
    border: 2px solid black;
}

body {
    background-image: url('../assets/outer-space.png');
}

#main {
  color: rgb(199, 157, 215);
}